
footer{
    background: var(--color-primary);
    padding: 3rem .5rem;
    text-align: center;
    font-size: .9rem;
    margin: 7rem 0 0 0;
    opacity: 80%;
    width:100%;
    margin-top:10px;
}
footer a{
    color:var(--color-bg);
}
.footer-logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}
.permalinks{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:2rem;
    margin:0 0 3rem;
    font-size: 30px;
    
}
.footer-socials{
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-bottom: 4rem;
    
}
.footer-socials a{
    background:var(--color-bg);
    color: var(--color-white);
    padding: .8rem;
    border-radius:.7rem;
    display:flex;
    border:1px solid transparent;
    transition: var(--transition);
}
.footer-socials a:hover{
    background:transparent;
    color: var(--color-bg);
    border-color:var(--color-bg);
}
.footer-copyright{
    margin-bottom:4rem;
    color:var(--color-bg);
    font-size: 30px;
}
